<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - Películas</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
</head>
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>
    <div class="base">
        <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="subcabecera"><div class="CuentaAtrasCatro"></div><p>&nbsp;Seleccione una película</p></div>
        <div class="cuerpo">
            <div th:each="movie, stat : ${movies}">
                <a th:id="${movie.id}" class="pelicula" 
                   th:href="@{/step2(idFilm=${movie.id}, sala=${stat.count})}" 
                   th:style="'background-image: url(' + @{/img/films/billboard/} + ${movie.image} + '.jpg);'"></a>
                <div class="info"><p><span th:text="'SALA ' + ${stat.count}"></span><span th:text="${currentDay.name() == 'WEDNESDAY' ? ' - 3.5€' : ' - 6€'}"></span></p></div>
            </div>
        </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>